body{
  background: linear-gradient(to top, #ff33cc 0%, #6666ff 100%);
}

#accordion{
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#ui-id-1.ui-state-active , #ui-id-3.ui-state-active , #ui-id-5.ui-state-active {
	background: #622569;
    border-color: #622569;
}