body{
  background: linear-gradient(to top, #ff33cc 0%, #6666ff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.accordion{
  margin: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.accordion-toggle:hover {
    background-color: 
  }

.head-accordion{
    background-color: #622569;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    font-family: 'Bree Serif', serif;
    color: black; 
    text-align: center;
}

.accordion-toggle {
    background-color: #622569;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion-content {
    display: none;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}
.accordion-content.default {
    display: block;
}


/*PRELOADING------------ */
#overlayer {
  width:100%;
  height:100%;  
  position:absolute;
  z-index:1;
  background:linear-gradient(to top, #ff33cc 0%, #6666ff 100%);
}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 48%;
  margin-right: 52%;
  z-index:3;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

th{
  padding: 10%;
}

.img{ 
  display: block; 
  margin: auto; 
}

.btn{
  margin-bottom: 30%;
}


