<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>About Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'aboutme.js' %}"></script>

</head>

<body>
<div id="overlayer"></div>
<span class="loader">
  <span class="loader-inner"></span>
</span>
    <h1 style="margin-top: 5%; margin-bottom: 5%;text-align: center;"><b>WELCOME</b></h1>


    <div class="row" style="margin-bottom: 5%">
      <div class="col-sm-2" style="padding-left:12%">
        <img src="https://i.imgur.com/JF95Vvc.png" class="img" style="width:160px;height:160px;">
      </div>
      <div class="col-sm-8" style="padding-left:10%;margin-top: 1%">
        <h3 id="content">
          Nama: Azzahra Putri Ramadhanty<br>
          Date of Birth: Jakarta, January 5 1999<br>
          Hobby: Travelling, watching Youtube, etc.
        </h3>
        <a href="{% url 'appstory6:subscribe' %}" class="btn btn-dark" role="button" style="">Subscribe</a>
        <a href="{% url 'appstory6:subscribers' %}" class="btn btn-dark" role="button" style="margin: 10px;">Check Out Subscribers</a>
        <a href="{% url 'appstory9:search' %}" class="btn btn-dark" role="button" style="">Search Books</a>
      </div>

    </div>

  <div class="accordion">
    <button class="accordion-toggle">Aktivitas</button>
    <div class="accordion-content">
        <p>
          <ul>
          <li>Studying computer science in Fasilkom UI as a 2nd year student</li>
          <li>Preparing for UIAW 2018 as Fasilkom's traditional dance contingent</li>
          <li>Preparing for COMPFEST 2019 as Internal Controller</li>
          <li>Preparing for CGT in Action: Chapter 1 as VPIC of Bazaar&Food</li>
        </ul>
        </p>
    </div>
    <button class="accordion-toggle">Experiences</button>
    <div class="accordion-content">
      <p>
          <ul>
            <b>Organizational Experience</b>
              <li>Adkesma BEM Fasilkom UI</li>
              <li>Binari Fasilkom UI</li>
              <li>Mezzo Voices SMAN 3 Depok</li>
              <br>
              <b>Working Experience<br></b>
              <li>HRD of Fundraising COMPEST X 2018</li>
              <li>Head of Public Relations Wisgen 2018</li>
              <li>Vice Person of Fundraising PMB 2018</li>
              <li>Staff of Events OH Fasilkom 2018</li>
              <li>Staff of Bazaar&Food CGT 2018</li>
              <li>Staff of Public Relations Wisgan 2018</li>
              <li>Staff of Sponsorship Universiade UI 2017</li>
              <li>Staff of Public Relations Pemira Fasilkom 2017</li>
            </ul>
      </p>
    </div>
    <button class="accordion-toggle">Prestasi</button>
    <div class="accordion-content">
      <p>
          <ul>
            <li>Fasilkom UI's Traditional Dance Contingent UIAW 2018</li>
            <li>National Science Olympiad Participant Regency State 2014</li>
            <li>3rd Winner of National Grand Try Out by Yayasan Taruna Bangsa 2011</li>
          </ul>
      </p>
    </div>
  </div>

    <label style="margin-left:10%; margin-bottom: 10%;">
      <input type="checkbox" data-toggle="toggle" id="switch"> Turn on night mode
    </label>
</body>
</html>