<!-- <!DOCTYPE html>
<html>
<head>
	{% load crispy_forms_tags %}
	<title>How are you?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% include 'navbar.html' %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<script src="{% static 'aboutme.js' %}"></script>
	<style type="text/css">
		body{background: linear-gradient(to top, #ff33cc 0%, #6666ff 100%);}
		.container{width: 100%}
		.col-sm-12 h1{text-align: center; font-size: 55px; color: #000066}
		.col-sm-12 h4{text-align: left; padding: 20px; padding-left: 0px}
		.registerbtn {
		    background-color: #622569;
		    color: white;
		    padding: 10px;
		    margin: 8px 0;
		    border-radius: 4px;
		    border-color: #622569;
		    cursor: pointer;
		    width: 8%;
		    opacity: 0.9;}
		.registerbtn:hover {
		    opacity: 1;
		    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
		@media screen and (max-width: 600px){
			.registerbtn{
				width: 30%;
			}
		}
</style>
</head>

<body>
	<div id="overlayer"></div>
<span class="loader">
  <span class="loader-inner"></span>
</span>
	<div class="container">
		<div class="col-sm-12" style="margin-top: 20%; margin-bottom: 10%;">
			<h1><b>Hello, Apa Kabar?<b></h1>
		</div>
		<div class="col-sm-12" style="padding-left: 50px; padding-right: 45px;">
			<div class="form-group">
				<form id="form" method="POST" action="/">
					{% csrf_token %}
					{{ form|crispy }}
		    	<button type="submit" id="submit" class="registerbtn" value="submit">Submit</button>
				</form>
			</div>
			<a href="{% url 'appstory6:profile' %}"> See my profile here! </a>
		</div>
		<div class="col-sm-12" style="padding: 50px;">
			<h4><b>STATUS<b></h4>
			{% if status %}
				{% for event in status %}
	 			<div class="alert alert-dark" role="alert">
	 			<div>
	   				{{ event.status }} <br>
	   			</div>
	   			<div style="font-size: 12px;">
	   				{{ event.created_at }}
	   			</div>
	  			</div>
	  			{% endfor %}
  			{% else %}
                <h5>No schedule. Make a plan!</h5> 
                {% endif %}
			</div>
            <br>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> -->