<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    nav{
      background: linear-gradient(to bottom, #6600ff 0%, #000066 100%);
      border-color: linear-gradient(to bottom, #6600ff 0%, #000066 100%);
      margin: 0%;
    }
    a{
      color: white;
    }
    a:hover{
      color: #EE82EE;
    }
  </style>

</head>
<body>
<nav class="navbar navbar-default">
  	<div class="container-fluid">
		    <a href="{% url 'appstory6:form'%}">Home</a>
		   	<a href="{% url 'appstory6:profile'%}">Profile</a>
		   	<a href="{% url 'appstory6:aboutme'%}">About Me</a>
	    </ul>
  	</div>
</nav>
</body>
</html>
