<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% include 'navbar.html' %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<script src="{% static 'aboutme.js' %}"></script>
	<style type="text/css">
		body{background: linear-gradient(to top, #ff33cc 0%, #6666ff 100%);}
		hr{border-color: black; opacity: 0.2;}
		.container{width: 100%}
		.row{padding: 10px;}
		.col-sm-12 h1,h3{ color: #000066; }
		.img{ display: block; margin: auto; }
	</style>
</head>

<body>
	<div id="overlayer"></div>
<span class="loader">
  <span class="loader-inner"></span>
</span>
	<div class="container">
		<div class="row">
			<div class="col-sm-12" style="margin-top: 10%;">
				<h1><b>MY PROFILE<b></h1>
				<hr>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-4" style="padding:20px;">
				<img src="https://i.imgur.com/JF95Vvc.png" class="img" style="width:200px;height:200px;">
			</div>
			<div class="col-sm-8" style="padding:10px; margin-top: 5%;">
				<h3>
					Nama: Azzahra Putri Ramadhanty<br>
					Date of Birth: Jakarta, January 5 1999<br>
					Hobby: Travelling, watching Youtube, etc.<br>
				</h3>
			</div>
		</div>
		<div class="link" style="margin-bottom: 17%;">
			<a href="{% url 'appstory6:form' %}" > Back to Home</a>
		</div>
		</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> -->