<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>List of Subsribers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style.css' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	<div class="row">
		<div class="col-sm-12">
			<h1>MY SUBSCRIBERS</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="placeholder">
			
		</div>
	</div>

    <script>
        $(document).ready(function() {   
            $.ajax({
                url:"/subscribers",
                method: 'GET',
                dataType: 'html',
                success: function(data){
                    var pars = JSON.parse(data);
                    console.log(pars); 
                    for(i = 0; i< pars.length; i++) {
                        var card = "<div id =\"" + pars[i].fields.email + "\" class=\"card\" style=\"width: 30rem;\"> <div class=\"card-body\"><h5 class=\"card-title\">" + pars[i].fields.name + "</h5> <button type=\"button\" class=\"unsubscribe btn btn-dark\">Unsubscribe</button></div></div>";
                        $("#placeholder").append(card);
                    }
                    $(".unsubscribe").each(function() {
                        $(this).click(function () {
                            var emaildata = $(this).closest('.card').attr('id');
                            console.log(emaildata); 
                            $.ajax({
                                url:"/delsubs",
                                data: {email : emaildata},
                                method: 'POST',
                                dataType: 'json',
                                success: function() {
                                    swal({
                                        title: "Success",
                                        text: 'You have unsubscribed this website!',
                                        type: 'success',
                                        showConfirmButton: false,
                                        timer: 2500
                                        }).then(function() {
                                            window.location = "/subscribers"
                                        });   
                                    }
                                });
                        }
                        );
                    });
                }
            });
        });
    
    </script>
</body>
</html>