<!DOCTYPE html>
<html>
<head>
	{% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script src="{%static 'subscribe.js'%}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}" />


</head>
<body>
<!-- 	<div id="overlayer"></div>
		<span class="loader">
  			<span class="loader-inner"></span>
		</span> -->
	<div class="row">
		<div class="col-sm-12">
			<h2 style="text-align: center; margin-top: 4%">Fill this form to subscribe!</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form method="POST">
				<div class="container center_div" style="width: 30%" id="form">
					{%csrf_token%}
					{{form}}
				<br>
				<button class="btn btn-dark" id="submit" disabled="disabled">Subscribe</button> 
				<br>
				<a href="{% url 'appstory6:aboutme'%}">Back to Home</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>